body { 
    
    font-family: arial, helvetica, sans-serif;
    font-size: 14px;
    color: black;
    background-color: light-gray;
    margin: 20px;
    padding: 0;
}

h1{
	
}

h3{
	text-align: center;
	color: blue;
}

table{
	border-style: dashed;
	border-width: 3px;
	border-color: gray;
}